<div class="Inicio">
	<div class="Titulo">
		<h2 class="tituloInicio">{{title}}</h2>
		<h4 class="subtitulo">{{subtitle}}</h4>
	</div>
	

	<article>
		<h5>What is Lorem Ipsum?</h5>
		<p>n aliquam elit vel mattis porta. Etiam non ligula ullamcorper, semper lacus pretium, efficitur urna. Fusce in placerat enim, at aliquet urna. Donec sed eleifend odio. Suspendisse dictum consectetur venenatis. Etiam at dignissim nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	</article>

	<article>
		<h5>Why do we use it?</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat euismod tempor. Curabitur egestas sapien ac dignissim bibendum. Vivamus vitae pretium enim, a ornare sapien. Integer sagittis maximus magna, nec imperdiet nisl fermentum ut. Quisque quis odio ac nisl consectetur varius eget vel leo. Nunc rhoncus, eros nec tempus tempor, felis nunc pulvinar turpis, molestie blandit urna erat vel sapien. Mauris a commodo lectus, non faucibus quam. Quisque consequat scelerisque est, a facilisis tortor condimentum vitae. Etiam malesuada mattis urna quis tincidunt. </p>
	</article>

	<article>
		<h5>Where does it come from?</h5>
		<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent nec sem a lorem maximus gravida vel ut quam. Donec eu metus a tortor feugiat semper efficitur sed dui. Vivamus ac lorem vel est rutrum varius. Duis sodales mauris sed finibus iaculis. Mauris iaculis accumsan suscipit. Etiam gravida quis quam id semper. Nam nec ligula in augue suscipit mollis. Duis iaculis sollicitudin eros, non ullamcorper neque tempor bibendum. Donec lobortis felis arcu, tempus iaculis erat malesuada a. </p>
	</article>
</div>
