<div class="container">
	<div class="foros">
		<h3 class="subtitulo">escoje un tema de tu gusto</h3>
		<span class="seccionForo">marihuana</span>
		<span class="seccionForo">general</span>
		<span class="seccionForo">musica</span>
		<span class="seccionForo">videojuegos</span>
		<span class="seccionForo">paranormal</span>
		<span class="seccionForo">marihuana</span>
		<span class="seccionForo">general</span>
		<span class="seccionForo">musica</span>
		<span class="seccionForo">videojuegos</span>
		<span class="seccionForo">paranormal</span>
		<span class="seccionForo">marihuana</span>
		<span class="seccionForo">general</span>
		<span class="seccionForo">musica</span>
		<span class="seccionForo">videojuegos</span>
		<span class="seccionForo">paranormal</span>
	</div>
</div>