<section>
	<div class="controlForo">
		<!--
		<span [routerLink]="['/foro]">anime</span>
		
		<span [routerLink]="['/foro/general]">general</span>
		<span [routerLink]="['/foro/politica]">politica</span>
		<span [routerLink]="['/foro/drogas]">drogas</span>
		<span [routerLink]="['/foro/memes]">memes</span>
		<span [routerLink]="['/foro/ecena]">ecena</span>
		<span [routerLink]="['/foro/paranormal]">paranormal</span>
		<span [routerLink]="['/foro/natural]">natural</span>
		<span [routerLink]="['/foro/viajes]">viajes</span>
		<span [routerLink]="['/foro/tecnologia]">tecnologia</span>
		<span [routerLink]="['/foro/dinero]">dinero</span>
		<span [routerLink]="['/foro/baxuko]">baxuko</span>
	-->
	</div>
	<div>
		<span></span>
	</div>
</section>

	
