<div class="container">

	<span id="salir" (click)="salir()">Cerrar Sesion</span>
	
	<div class="perfil contenido">

		<div class="Avatar">
			<figure>
				<img src="">
			</figure>
		</div>

		<div class="datosPrincipales">
			<div class="datos">
				<span>Name: </span>
				<span>{{data.name}}</span>
			</div>
			<div class="datos">
				<span>NickName: </span>
				<span>{{data.nickName}}</span>
			</div>
			<div class="datos">
				<span>Age: </span>
				<span>{{data.age}}</span>
			</div>
		</div>
	</div>

	<div class="datosPrincipales contenido">
		<h3 class="subtitulo">datos usuario</h3>
		<div class="datos">
			<span>team:</span>
			<span>{{data.team}}</span>
		</div>
		<div class="datos">
			<span>roles:</span>
			<span>{{data.roles}}</span>
		</div>
		<div class="datos">
			<span>tales:</span>
			<span>los tales</span>
		</div>
		<div class="datos">
			<span>lokokos:</span>
			<span>fourlokos</span>
		</div>
	</div>

	<div class="datosPrincipales contenido">
		<h3 class="subtitulo">estadisticas usuario</h3>
		<div class= "datos">
				<span>Posteos: </span>
				<span>44</span>
			</div>
			<div class="datos">
				<span>reacciones: </span>
				<span>443</span>
			</div>
			<div class="datos">
				<span>reportes: </span>
				<span>36</span>
			</div>
			<div class="datos">
				<span>lineas: </span>
				<span>2</span>
			</div>
			<div class="datos">
				<span>chats: </span>
				<span>32</span>
			</div>
			<div class="datos">
				<span>chats privados: </span>
				<span>2</span>
			</div>
			<div class="datos">
				<span>BITCHAS:</span>
				<span>45.560</span>
			</div>
			<div class="datos">
				<span>streams vistos: </span>
				<span>74</span>
			</div>
			<div class="datos">
				<span>seguidores: </span>
				<span>67677</span>
			</div>
			<div class="datos">
				<span>veces reportado: </span>
				<span>89</span>
			</div>
			<div class="datos">
				<span>dias activo:</span>
				<span>234</span>
			</div>
			<div class="datos">
				<span>BITCHAS recividas</span>
				<span>434</span>
			</div>
	</div>



</div>
