@font-face{
	font-family: "sovietic program";
	src: url("../fonts/SovietProgram.ttf");
}

@font-face{
	font-family: "minecraft";
	src: url("../fonts/Minecraft.ttf");
}

/*-----------------------------------------------------------------------------------*/

body{
	font-family: "minecraft";
	font-size: 20px;
	
}

/*barra de navegacion*/

header{
	top: 0;
	position: fixed;
	background-color: #dbdbdb;
	width: 100%;
	height: 120px;
	font-size: 1.1em;
	font-family: "sovietic program";
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 3;
}

header .botonMenu{
	text-shadow: 0 0 3px #6cc464;
	transition: all .3s; 
}
header .botonMenu:hover{
	/*cursor: not-allowed;*/
	font-size: 1.1em;
	cursor: url("../fondos/porro.jpg");
}
.actived{
	color: red;
}

/*logo*/
header .logo figure img{
	width: 100px;
	height: 100px;
	border: 2px solid #282928;
	transition:  all .5s;
	border-radius: 5px;
}
header .logo figure img:hover{
	width: 120px;
	height: 120px;
	border-radius: 20px;
}

/*!logo¡*/

/*--!barra de navegacion¡--*/

/*contenedor principal*/
#contenido{
	width: 80%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px #333;
	border-left: 1px solid #333;
	min-height: 500px;
	margin-top: 155px;
	margin-bottom: 35px;

}
/*!contenedor principal¡*/

/*inicio*/
h2.tituloInicio,h2.tituloRegistrate{
	font-family: "sovietic program";
}

/*!inicio¡*/

/*pie de pagina*/
footer{
	display: block;
	height: 300px;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: red;
}
/*!pie de pagina¡*/

